.slider-bg {
    width: 1920px;
    height: 1080px;
    background-color: black;
}

.slider-bg .photo {
    /*width: 1920px;
    height: 1080px;
    -webkit-background-size: 100% 100%;*/
    max-width: 1920px;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
}
.slider-bg.photo img{
    width: 1920px;
}

.image-viewer-info-menubar {
    position: absolute;
    top: 21px;
    left: 41px;
    width: 1838px;
    height: 240px;
    z-index: 1;
    /*background-color: #1f2b3d;
    background-repeat: repeat;*/
}

.image-viewer-info-menubar .reperence-area {
    float: left;
    width: 1838px;
    height: 120px;
    background-color: rgba(0,0,0,.5);
}

.reperence-area .image-title {
    position: absolute;
    top:20px;
    left: 60px;
    width: 600px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    color: #b9e4ff;
}

.reperence-area .image-date {
    position: absolute;
    top:71px;
    left: 60px;
    /*width: 194px;*/
    width: 210px;
    height: 29px;
    line-height: 29px;
    font-size: 26px;
    color: rgba(255,255,255,.45);
}

.reperence-area .image-index {
    position: absolute;
    top:71px;
    left: 275px;
    height: 29px;
    line-height: 29px;
    font-size: 26px;
    color: rgba(255,255,255,.45);
}

.image-viewer-info-menubar .imageviewer-custom-icon {
    position: absolute;
    float: left;
    top:20px;
    left: 789px;
}

.btn {
    position: relative;
    float: left;
    margin-left: 10px;    
    width: 76px;
    height: 76px;
    opacity: 0.8;
    border: 4px solid rgba(255, 255, 255, 0);
}

.btn.focused {
    border: 4px solid rgba(255, 255, 255, 1);
}

.btn-play {
    background: url("../resource/images/mc_play_icon_play.png") no-repeat center center;
}
.btn-play:before {
    content: '';
}

.btn-pause {
    background: url("../resource/images/mc_play_icon_pause.png") no-repeat center center;
}
.btn-pause:before {
    content: '';
}
.btn-previous {
    background: url("../resource/images/arrow_left.png") no-repeat center center;
}
.btn-previous:before {
    content: '';
}

.btn-next {
    background: url("../resource/images/arrow_right.png") no-repeat center center;
}
.btn-next:before {
    content: '';
}

.photo-thumbnail-area {
    position: absolute;
    margin-top: 141px;
    margin-left: 41px;
}

.photo-list-container {
    position: absolute;
    overflow: hidden;
    width: 1838px;
    height: 120px;
}
.photo-list-scroll-wrapper {

}
.photo-item {
    width: 160px;
    height: 120px;
    margin-right: 2px;
}

.photo-item.focused .photo-border {
    position: absolute;
    width: 152px;
    height: 112px;
    border: 4px solid rgba(255, 255, 255, 1);
    z-index: 2;
}
.photo-item-bg {
    width: 160px;
    height: 120px;
}

/*
.blur {
    filter: brightness(.3);
    -webkit-filter: brightness(.3);
}*/


