body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;  
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: linear-gradient(135deg, rgb(47,9,9), rgb(0,0,0) 30%);
}

.demo-title {
  position: relative;
  top:10px;
  left: 112px;
  height: 80px;
  width: 1720px;
  font-size: 50px;
  color: white;
  z-index: 1;
}

.list-warpper {
  position: absolute;
  overflow: hidden;
  width: 1920px;
  height: 4000px;
  top: 130px;
}

.list-title {
  color: white;
  font-size: 30px;
  margin: 0 0 1px 112px;
}


.box {
  float: left;
  top: 10px;
  margin-right: 5px;
  width: 265px;
  height: 265px;
  line-height: 265px;
  color: #eee;
  font-size: 40px;
  text-align: center;

  border: 6px solid #363C45;  
  box-sizing: border-box;
}

.focused {
  border: 6px solid #EEE;
}


