<div class="file-grid-area">
    <caph-list id="brower-list" style="position: absolute;" container-class="list-container" wrapper-class="list-scroll-wrapper" items="item in ngModel" loop="true">
        <div focusable id="file-item-{{$index}}" data-index="{{$index}}" class="item" on-focused="onFocused(item, $index)" on-blurred="onBlurred($index)" on-selected="onSelected(item, $index)">
            <div class="list-border"></div>
            <div ng-class="{'item-bg':item.isFile===true, 'item-floder-bg':item.isDirectory===true,'item-upper-floder-bg':item.isUpperFloder===true}" ng-style="(item.isFile===true) && {'background': 'url(\'' + (ngModel.thumbnails[item.uri]||urlDefault) +'\') center center no-repeat', 'background-size':'cover'}">
                <div ng-show="!item.isFile" class="item-floder-context-text font-list-item-title" ng-bind="item.isUpperFloder ? 'Upper Floder':((item.name| formatFile:3)| textCut: 10)"></div>
                <div ng-show="item.isFile" ng-class="{'item-context-area':item.isFile}" class="font-list-item-title">
                    <div class="item-context-text" ng-bind="(item.name| formatFile:0)| textCut: 10"></div>
                </div>
            </div>
        </div> 
    </caph-list>
</div>
