<div class="content"> <!-- ng-controller="listViewController" -->
    
    <!-- heading -->
    <div class="head-area">
        <div class="title-area">
            <div class="title-context">
                <div class="device-icon-container">
                    <div class="device-icon"></div>
                </div>
                <div class="device-title font-head" ng-bind="main.deviceTitle"></div>
            </div>
            <div class="device-area">
                <div id="device-progressing-bar" class="progressing-bar" ng-style="{'width':main.progressBarWidth}"></div>
                <div class="checking-status"></div>
                <div class="status-info font-info">
                    <div class="txt-1" ng-bind="'Used'"></div>
                    <div class="txt-2" ng-bind="'Available'"></div>
                </div>
                <div class="storage-info font-info">
                    <div class="txt-1" ng-bind="(main.deviceStatus.used | bytes)"></div>
                    <div class="txt-2" ng-bind="(main.deviceStatus.storage|bytes) +'('+ (main.deviceStatus.used/main.deviceStatus.storage | percentage:0) +')'"></div>
                </div>
            </div>
        </div>
        <div class="path-area">
            <div class="title font-path" ng-bind="main.currentPath || 'Tizen Device'"></div>
        </div>
    </div>

    <!-- Loading animation -->

    <!-- Contents Area -->
    <div class="content-area">
        <content-grid ng-model="main.content" update="main.update(item, $index)"></content-grid>
    </div>

    <!-- Addititonal&Option Area -->
    <div class="bottom-area">
        <div class="additional-area">
            <div class="file-info-area" ng-hide="main.content.selectedData.isUpperFloder == true">
                <div class="file-title font-path" ng-bind="(main.content.selectedData.name| formatFile:0)|textCut: 20"></div> 
                <div class="file-detial font-file" ng-bind="'Size:'+(main.content.selectedData.fileSize| bytes)+' | Format: '+(main.content.selectedData.name| formatFile:1)+' | '+(main.content.selectedData.created|formatDate)"></div>
            </div>
        </div>
        <div class="option-area">  
            <drop-box-grid reload="main.reloadData(files, dirs, images)" upper="{{main.content[0]}}"></drop-box-grid>
        </div>
    </div>
</div>