blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "SamsungSmart_Latin Medium";
    src: url("../resource/fonts/SamsungSmart_Latin_Medium.woff");
}

@font-face {
    font-family: "SamsungSmart_Latin Light";
    src: url("../resource/fonts/SamsungSmart_Latin_Light.woff");
}

@font-face {
    font-family: "SamsungSmart_Latin Bold";
    src: url("../resource/fonts/SamsungSmart_Latin_Bold.woff");
}

@font-face {
    font-family: "SamsungSmart_Latin Thin";
    src: url("../resource/fonts/SamsungSmart_Latin_Thin.woff");
}
.font-head {
    color: rgba(255,255,255,.95);
    font: 56px 'SamsungSmart_Latin Medium';
}
.font-path {
    color: rgba(255,255,255,.95);
    font: 34px 'SamsungSmart_Latin Light';
}
.font-list-item-title {
    color: rgba(255,255,255,.95);
    font: 30px 'SamsungSmart_Latin Light';
}
.font-file {
    color: rgba(255,255,255,.6);
    font: 26px 'SamsungSmart_Latin Light';
}
.font-info {
    color: rgba(255,255,255,.9);
    font: 20px 'SamsungSmart_Latin Light';
}
.container {
    position: relative;
    overflow: hidden;
}

.content {
    width: 1920px;
    height: 1080px;
    background-color: #001c31;
}

.head-area .title-area{
    position: relative;
    height: 121px;
    width: 1920px;
    background-color: #005fa3;
    display: table;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.75);
    z-index: 2;
}
.head-area .title-area .title-context {
    position: relative;
    left: 36px;
    display: table-cell;
    vertical-align: middle;
}
.head-area .title-area .device-area {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    right: 79px;
    width: 324px;
}
.device-area .progressing-bar {
    position: relative;
    height: 4px;
    background-color: rgba(255,255,255,1);
}
.device-area .checking-status {
    position: relative;
    height: 4px;
    width: 324px;
    top: -4px;
    background-color: rgba(255,255,255,.3);
}
.device-area .status-info {
    margin-top: 12px;
    height: 28px;
    line-height: 28px;
}
.txt-1{
    float: left;
}
.txt-2{
    position: relative;
    float: right;
    right: 0px;
}
.device-area .storage-info {
    height: 28px;
    line-height: 28px;
}

.device-icon-container{
    float: left;
    height: 90px;
    width: 90px;    
}
.device-icon-container .device-icon {
    position: relative;
    top: 15px;
    left: 15px;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    vertical-align: middle;
    background-color: #fff;
    transform:rotate(-90deg);
    background: url("../resource/images/home_conn_usb_f.png") 50% 50% no-repeat rgba(255,255,255,.9);
}


.device-title {
    float: left;
    height: 90px;
    line-height: 90px;
    text-align: left;
}
.head-area .path-area{
    position: absolute;
    top:121px;
    height: 80px;
    width: 1920px;
    background-color: #004c82;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.75);
}
.head-area .path-area .title {
    position: relative;
    left: 38px;
    height: 80px;
    line-height: 80px;
}
.content-area {
    position: absolute;
    top: 201px;
    height: 718px;
    width: 1920px;
}

.bottom-area {
    position: absolute;
    bottom: 0px;
}

.bottom-area .additional-area {
    height: 161px;
    width: 1120px;
    float: left;
}
.bottom-area .additional-area .file-info-area {
    position: relative;
    left: 41px;
    top: 38px;
}
.file-title {    
    width: 1059px;
    height: 48px;
    line-height: 48px;
    text-align: left;
} 
.file-detial {
    width: 1059px;
    height: 42px;
    line-height: 42px;
    text-align: left;
}
.bottom-area .option-area {
    position: relative;
    float: left;
    /*left: 100px;*/
    height: 161px;
    width: 800px;
}

/*mengfj*/
.option-area .sample-button{
    display: table;
    text-align: center;
    color: #ffffff;
    background-color: rgba(10, 20, 28);
    cursor: default;
    opacity: .8;
    border: 1px solid #ccc;
    margin: 40px 0 0 461px;
    width: 300px;
    height: 80px;
    vertical-align: middle;
    float: left;
}

.bottom-area .sample-button.focused{
    border: 4px solid #fff;
}

.bottom-area .sample-button:last-child{
    margin: -1px;
}

.bottom-area .sample-button .button-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.bottom-area .sample-button .button-text:hover {
    background-color: rgb(24, 34, 42);
}

.bottom-area .sample-button .dropdown-top{
    position: relative;
    float: right;
    top: -20px;
    height: 35px;
    width: 35px;
    background: url("../resource/images/dropdown_icon_tri_top.png") no-repeat rgb(24, 34, 42);
    opacity: 0.2;
}

.bottom-area .sample-button .dropdown-down{
    position: relative;
    float: right;
    top: 23px;
    height: 35px;
    width: 35px;
    background: url("../resource/images/dropdown_icon_tri_down.png") no-repeat rgb(24, 34, 42);
    opacity: 0.2;
}

.item-selected {
    height: 44px;
    width: 44px;
    background: url("../resource/images/popup_sub_check_icon_in_07.png") no-repeat;
}

.option-area li {
    display: -webkit-box;
    font-size: 20px;
    top: 50px;
}
